.buttonOpprett{
  padding: 10px;
  border-radius: 5px;
  background-color: #BDE4A8;
}

.buttonOpprett:hover{
  background-color: #9CC69B;
  cursor: pointer;
}

textarea{
  width: 100%;
  resize: none;
}

@media only screen and (max-width: 768px) {
  .right{
    display: none;
  }
  .left{
    display: none;
  }
} 
@media only screen and (max-width: 600px) {
  .buttonOpprett {
    padding:10px;
  }

}

